html {
	text-align: center;
	background-color: beige;
	color: black;
}

* {
	font-family: cursive;
}

.App-header {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
}

.App-link {
	color: #61dafb;
}

.start-writing-btn,
.see-journal-btn {
	border: 2px solid black;
	border-radius: 30px;
	width: 50%;
	height: 100px;
	padding: 25px;
	margin: auto;
	text-align: center;
	cursor: pointer;
}

h1 {
	width: 50%;
	margin: auto;
}

.create-main-buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.title {
	border-bottom: 1px solid black;
	margin-bottom: 0;
}

.subtitle {
	margin-top: 0;
}
